<div class="container">
  <h1 class="text-center">Delicias del Rancho</h1>
  <p class="text-center">Formulario de Contacto</p>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <form>
    <div class="form-group col-md-6">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
        <label for="inputLastName">Apellido</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Apellido">
    </div>
      <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-form">Enviar</button>
  </form>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
